%div#detail_content
  %div
    %a#close{:href => '#'}
      close

  = render :partial => "commit_info", :locals => {:commit => @commit }

  %p.explain= commit_explain(@commit)

  = render :partial => "diff_stat", :locals => {:commit => @commit }

  #files.diff-view.commentable
    - @commit.diffs.each_with_index do |diff, i|
      = render :partial => "file_diff", :locals => {:commit => @commit, :diff => diff, :index => i }

